<h2>All our products</h2>

<ng-container *ngIf="(products$ | async) as products">

    <article *ngFor="let p of products">
        <img [src]="p.image" >
        <h2>{{p.name | uppercase}}</h2>
        <button (click)="basketSvc.insert(p)">
            Add to Basket
        </button>
        <p>
            Special prices today! <br> Our price is now
            <span>
                {{p.price | currency:'GBP':'symbol'}}
            </span>
        </p>
    </article>

</ng-container>
