:host {
    font-family: sans-serif;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

tbody tr:hover {
    background-color: #ddd;
}

button + button {
    margin-left: 1em;
}

label {
    display: block;
}

label span {
    display: inline-block;
    width: 6em;
    font-weight: bold;
    margin-bottom: .5em;
}
