<h1>User Server Demo</h1>

<fieldset>
    <legend>Create/Edit User</legend>
    <div>
        <label for="name"><span>Name:</span>
            <input type="text" id="name" [(ngModel)]="editUser.name" placeholder="Name of user">
        </label>
        <label for="age"><span>Age:</span>
            <input type="number" id="age" [(ngModel)]="editUser.age" placeholder="Age of user">
        </label>
        <button (click)="save()">SAVE</button>
    </div>
</fieldset>

<ng-container *ngIf="users">
    <h2>Users</h2>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users; let row=index" (click)="show(u.id)">
                <td>{{ row + 1 }}</td>
                <td>{{ u.id }}</td>
                <td>{{ u.name }}</td>
                <td>{{ u.age }}</td>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-container *ngIf="user">
    <h2>One User</h2>
    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ user.age }}</td>
            </tr>
        </tbody>
    </table>
    <button (click)="clear()">CLEAR</button>
    <button (click)="remove(user.id)">REMOVE</button>
</ng-container>



