table {
    width: 100%;
    margin-top: 1rem;
}

th, td {
    text-align: center;
}

th:first-child, th:nth-child(2),
td:first-child, td:nth-child(2) {
    text-align: left;
}

.stripe {
    background-color: #eee;
}

.empty {
    color: orangered;
    font-weight: 700;
    padding: 2rem;
}

hr {
    margin-top: 2rem;
}


