.modal {
    align-items: center;
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: .4rem;
    position: fixed;
    right: 0;
    top: 0;
  }

  .modal.active {
    display: flex;
    opacity: 1;
    z-index: 400;
  }

  .modal.active .modal-container {
    animation: slide-down .2s ease 1;
    z-index: 1;
  }

  .modal-container {
    background: #f1f1fc;
    border-radius: .3rem;
    box-shadow: 0 .2rem .5rem rgba(48, 55, 66, .3);
    display: flex;
    flex-direction: column;
    max-height: 75vh;
    max-width: 640px;
    padding: 0 .8rem;
    width: 100%;
  }

  .modal-container .modal-body {
    overflow-y: auto;
    padding: .8rem;
    position: relative;
  }
  
  .modal-container .modal-footer {
    padding: .8rem;
    text-align: right;
  }

  .btn {
    appearance: none;
    background: #fff;
    border: .05rem solid #5755d9;
    border-radius: .1rem;
    color: #5755d9;
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    height: 1.8rem;
    line-height: 1.2rem;
    outline: none;
    padding: .25rem .4rem;
    text-align: center;
    text-decoration: none;
    transition: background .2s, border .2s, box-shadow .2s, color .2s;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .btn:focus {
    box-shadow: 0 0 0 .1rem rgba(87, 85, 217, .2);
  }
  
  .btn:focus,
  .btn:hover {
    background: #f1f1fc;
    border-color: #4b48d6;
    text-decoration: none;
  }
  
  .btn:active,
  .btn.active {
    background: #4b48d6;
    border-color: #3634d2;
    color: #fff;
    text-decoration: none;
  }
  
  .btn:active.loading::after,
  .btn.active.loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
  }
  
  .btn.btn-primary {
    background: #5755d9;
    border-color: #4b48d6;
    color: #fff;
  }

