<nav>
  <span class="brand">Todo App</span>
  <a routerLink="/list" routerLinkActive="current-page">List</a>
  <a routerLink="/edit" routerLinkActive="current-page">Edit</a>
</nav>
<section>
  <router-outlet></router-outlet>
</section>
