/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif;
    box-sizing: border-box;
}

label {
    display: block;
    font-variant: small-caps;
}

label > div {
    font-variant: normal;
}
label + label {
    margin-top: 1.5em;
}

input {
    display: block;
    width: 80%;
    border-radius: .5em;
    font-size: 1.25rem;
    padding: .1em .5em;
}

input.ng-dirty.ng-invalid {
    border: 1px solid orangered;
}

input.ng-dirty.ng-valid {
    border: 1px solid forestgreen;
}
