
th {
  padding-right: 1rem;
  text-align: left;
}

li {
  color: orangered;
}

a {
  text-decoration: none;
}

.active {
  color: white;
  background-color: navy;
}

pre {
  font-size: medium;
}

input {
  width: 16rem;
}

input.ng-valid {
  border: 1px solid #42A948; /* green */
}

input.ng-invalid.ng-dirty {
  border: 1px solid #a94442; /* red */
}

.search-results li {
  color: #555;
}


