.expense {
    border: 1px solid #aaa;
    padding: 0.2rem 0.8rem;
}

.expense h3 {
    font-weight: 400;
    color: #888;
    padding: 0;
}

.expense .type {
    font-variant: small-caps;
}

.expense .amount {
    font-style: italic;
}

