<h1>Forms Demo</h1>

<h2>Template-Oriented Form</h2>
<template-oriented-form [init]="user" (submit)="onSubmit($event)"></template-oriented-form>

<h2>Component-Oriented Form</h2>
<component-oriented-form [init]="user" (submit)="onSubmit($event)"></component-oriented-form>

<hr>
<pre>
  {{ user | json }}
</pre>
