<fieldset>
    <legend>Registration Form</legend>
    <form #form=ngForm>

        <label>
            Name
            <input type="text" [name]="'name'" [(ngModel)]="model.name" #nameCtrl="ngModel" required minlength="5">
            <ul *ngIf="nameCtrl.errors && nameCtrl.dirty">
                <li *ngIf="nameCtrl.errors['required']">Must have a value</li>
                <li *ngIf="nameCtrl.errors['minlength']">
                    At least {{ nameCtrl.errors['minlength']['requiredLength'] }} chars
                </li>
            </ul>
            <div>
                errors: <code>{{ nameCtrl.errors | json}}</code>
            </div>
        </label>

        <label>
            Age
            <input type="number" [name]="'age'" [(ngModel)]="model.age" #ageCtrl="ngModel" required min="18" max="45">
            <ul *ngIf="ageCtrl.errors && ageCtrl.dirty">
                <li *ngIf="ageCtrl.errors['required']">Must have a value</li>
                <li *ngIf="ageCtrl.errors['min']">At least {{ ageCtrl.errors['min']['min'] }}</li>
                <li *ngIf="ageCtrl.errors['max']">At most {{ ageCtrl.errors['max']['max'] }}</li>
            </ul>
            <div>
                errors: <code>{{ ageCtrl.errors | json}}</code>
            </div>
        </label>

        <p>
            <button [disabled]="form.invalid" (click)="submit()">
                Submit Form
            </button>
        </p>
    </form>
</fieldset>
