<h1>Editable Demo</h1>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products; let row=index">
            <td>{{ row+1 }}</td>
            <td>
                <editable-text [name]="'name'" [value]="p.name" [hint]="'Klicka här'" (updated)="onSaved($event)"></editable-text> 
            </td>
            <td>
                <editable-number [name]="'price'" [value]="p.price" (updated)="onSaved($event)"></editable-number>
            </td>
        </tr>
    </tbody>
</table>

<ng-container *ngIf="result">
    <hr>
    Result:
    <pre>{{ result | json }}</pre>
</ng-container>

