<div>
  <h1>About...</h1>
  <table>
    <tr>
      <th>Name</th>
      <td>{{name}}</td>
    </tr>
    <tr>
      <th>Version</th>
      <td>{{version}}</td>
    </tr>
    <tr>
      <th>Date</th>
      <td>{{date | date:'d MMM yyyy'}}</td>
    </tr>
    <tr>
      <th>Author</th>
      <td>{{author}}</td>
    </tr>
    <tr>
      <th>Organization</th>
      <td><a href="{{url}}">{{organization}}</a></td>
    </tr>
  </table>
</div>
