<h1>Interactive Form Field Demo</h1>

<table>
  <tr><th>Search</th>
    <td><input type="search" [formControl]="phrase"
             placeholder="Enter language phrase"/>
    </td>
  </tr>
</table>

<div *ngIf="(results$| async) as results">
  <h2>Results</h2>
  <ul class="search-results">
    <li *ngFor="let r of results">{{r}}</li>
  </ul>
</div>


