:host {
    font-family: sans-serif;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.price-table thead th {
    color: green;
}

/*th:nth-child(2), th:nth-child(3), th:nth-child(4),*/
/*td:nth-child(2), td:nth-child(3), td:nth-child(4) {*/
/*    text-align: right;*/
/*}*/

/*th:nth-child(5), td:nth-child(5) {*/
/*    text-align: center;*/
/*}*/

