<h2>
    Product List
</h2>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products; let row=index">
            <td>{{ row + 1 }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.price | currency:'EUR':'symbol':'1.0-0' }}</td>
        </tr>
    </tbody>
</table>

