<header>
    Ng Routing Demo App
</header>
<nav>
    <ul>
        <ng-container *ngFor="let n of nav">
<!--            <ng-container *ngIf="n.visible">-->
                <li>
                    <a [routerLink]="n.uri" [routerLinkActive]="'selected-page'">
                        {{ n.text }}
                    </a>
                </li>
<!--            </ng-container>-->
        </ng-container>
    </ul>
</nav>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    &copy; {{year}} {{org}}. All rights reversed.
</footer>
