:host {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

$bgColor: #ff8c00;
$dark: #333;

header {
    background-color: hsl(225, 100%, 45%);
    color: #fff;
    padding: .5em;
    text-align: center;
}

nav {
    background-color: #aaa;
    padding: 0;

    ul {
        margin: 0;
        padding-left: 1em;

        li {
            display: inline-block;

            a {
                display: inline-block;
                padding: .5em .25em;
                text-decoration: none;
                color: inherit;

                &:hover {
                    color: #fff;
                    background-color: $bgColor;
                }

                &.selected-page {
                    background-color: $dark;
                    color: #fff;

                    &:hover {
                        background-color: $dark;
                        color: #fff;
                    }
                }
            }
        }
    }
}

main {
    flex-grow: 1;
    padding: 1em;
}

footer {
    background-color: darken($dark, 10%);
    color: hsl(0, 0%, 75%);
    padding: 1em;
    text-align: center;
}
